:root {
    --primary: orange;
    --secondary: #70e000;
}

html {
    font-size:  62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITIES */
.container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h2 {
    margin: 1rem 0;
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

button {
    margin-top: 2rem;
    padding: 1.4rem 10rem;
    border: none;
    color: white;
    background-color: var(--primary);
    font-size: 2rem;
}

ul li{
    list-style: none;
}
/* index.html header elements */

.site-init {
    /* display: block; */
    height: 500px;
    background-image: url("/img/header.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-init h1 {
    font-size: 6rem;
}

.site-init nav {
    margin: 0.6rem 0;
}

.site-init nav a {
    margin: 0 1.5rem;
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
    font-size: 2rem;
}

.site-init p {
    margin-top: 1.6rem;
}

/* MAIN elements */

.about-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SECTION elements */

.about-container h3 {
    font-size: 1.8rem;
}


.house-item {
    background-color: #f8f9fa;
    width: 30%;
}


.container {
    margin-top: 2rem;
    height: 30rem;
}


.container h2 {
    font-size: 4rem;
}

.house-item-text h3 {
    font-size: 2.5rem;
}

.house-item-container {
    height: 50.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* .text elements */

.house-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #f8f9fa;

}

.house-item-text ul {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.text p + p {
    font-size: 1.8rem;
    color: var(--secondary);
}



/* contact us page */
.site-second {
    height: 14rem;
    background-color: #222222;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.site-second h1 {
    font-size: 4.5rem;
}

.site-second div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-second nav {
    font-size: 2.5rem;
}

.site-second a {
    margin: 2rem;
    text-decoration: none;
    list-style: none;
    color: white;
}

fieldset {
    padding: 1rem;
}

label {
    font-weight: bold;
}

legend, label, input, .input-container {
    font-size: 1.6rem;
}

input, textarea, select {
    background-color: lightgray;
    border-radius: 20px;
    width: 100%;
}

.form-personal fieldset input {
    width: 100%;
}

/* personal information section */

.form-personal fieldset label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* product information section */

.form-product fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.input-container {
    margin: 1rem;
    font-weight: bold;
}

.contact-container, .time-container {
    display: block;
    margin: 1.5rem;
}

.input-container input {
    width: 70%;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}

.input-container label {
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}



.contact-main h2, .contact-main p {
    margin-top: .5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}

form {
    display: block;
    width: 40%;
    margin: auto auto;
}

.form-contact .contact-container {
    width: 40%;
    display: flex;
}

.form-contact fieldset {
    display: flex;
    flex-direction: column;

}

.contact-container{
    margin: 1rem 0;
}

.time-container{
    margin: 1rem 0;
}



.time-container p {
    font-size: 1.5rem;
    text-align: left;
}

/* contact us button */
.form-btn {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    background-color: #7cb518;
    font-size: 2rem;
}